{
  "presets": [
    "env", "stage-0", "react"
  ],
  "plugins": [
    ["import", { libraryName: "antd", style: true }], // `style: true` 会加载 less 文件
    ["transform-decorators-legacy"],
    ["transform-runtime"]
  ]
}
