.modal{
  :global{
    .ant-modal-content{
      padding: 20px 40px 0!important;
    }
    .ant-modal-title{
      margin-bottom: 30px;
    }
  }
}
.block{
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  img{
    position: absolute;
  }
}